@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-color1: #eee; 
    --main-color2: #c7b938;
    --main-color3: #333;
    --main-color4: #222;
}

html {
    font-size: 62.5%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 14rem;
    background-color: #000;
    position: fixed;
    top: -14rem;
    z-index: 555;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(0, 0, 0);
    transition: 0.4s 0.2s;
}

.header.change {
    top: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-link {
    color: #aaa;
    margin: 0 4rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.navbar-link:hover {
    color: #fff;
}

.navbar-link i {
    font-size: 5rem;
}

.navbar-link span {
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 0.5rem;
}

.navbar-toggler {
    width: 4rem;
    height: 6rem;
    background-color: #000;
    position: fixed;
    top: 1rem;
    right: 5rem;
    border-bottom: 0.1rem solid var(--main-color2);
    border-right: 0.1rem solid var(--main-color2);
    border-radius: 30rem 30rem 15rem 15rem;
    cursor: pointer;
    /* box-shadow: 0.1rem 0.1rem 0.1rem #000; */
    transition: 0.4s;
}

.navbar-toggler.change {
    top: 15rem;
    transition: 0.4s;
}

.navbar-toggler::before {
    content: '';
    width: 0.3rem;
    height: 15rem;
    position: absolute;
    background-color: #000;
    top: -15rem;
    left: calc(50% - 0.15rem);
    box-shadow: 0.1rem 0 0 #000;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-heading {
    font-size: 12rem;
    font-weight: 800;
    text-shadow: 0.2rem 0.2rem 0.2rem rgb(0, 0, 0);
    color: var(--main-color1);
    text-align: center;
    text-transform: uppercase;
}

.section-1 {
    background-color: var(--main-color3);
}

.section-1-icons {
    position: relative;
}

.section-1-icons i {
    font-size: 30rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
    color: var(--main-color2);
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
}

.section-1-icons .active {
    transform: translate(-50%, -50%) scale(1);
}

.section-2 {
    background-color: var(--main-color4);
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 30rem;
    background-color: var(--main-color2);
    margin: 0 2rem;
    padding: 4rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1rem 1rem 1rem #000;
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);
}

.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
    transition: 0.4s;
}

.card::before {
    content: '';
    height: 100%;
    width: 0.4rem;
    background-color: #958a28;
    position: absolute;
    top: 0;
    left: -0.4rem;
    transform: skewY(45deg);
    transform-origin: right;
}

.card::after {
    content: '';
    height: 0.4rem;
    width: 100%;
    background-color: #817823;
    position: absolute;
    top: -0.4rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
}

.icon {
    width: 100%;
}

.card-name {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #111;
    margin: 2rem 0;
    text-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.card-btn {
    width: 70%;
    background-color: #111;
    color: var(--main-color1);
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    border: none;
    padding: 0.2rem 0;
    cursor: pointer;
    box-shadow: -0.2rem -0.2rem 0.2rem #000;
}

.section-3 {
    background-color: var(--main-color3);
    padding: 5rem 0;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 2rem;
}

.gallery-link {
    flex: 0 0 auto;
    position: relative;
}

.gallery-link::before {
    content: '';
    position: absolute;
    top: 13.8rem;
    left: 2rem;
    width: 0.1rem;
    height: 0;
    background-color: var(--main-color1);
    z-index: 555;
    transition: 0.4s;
}

.gallery-link::after {
    content: '';
    position: absolute;
    top: 14.4rem;
    left: 1.4rem;
    width: 0;
    height: 0.1rem;
    background-color: var(--main-color1);
    z-index: 555;
    transition: 0.4s;
}

.gallery-link:hover::before {
    height: 25%;
}

.gallery-link:hover::after {
    width: 25%;
}

.gallery-food-img {
    width: 26vw;
    height: 16vw;
    object-fit: cover;
    filter: grayscale(100%);
    box-shadow: 0.6rem 0.6rem 0.6rem #000;
    transition: 0.4s;
    margin: 1rem;
}

.gallery-food-img:hover {
    opacity: 0.5;
    filter: grayscale(0%);
    transform: scale(1.05);
}

.gallery-food-name {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color2);
    width: 0;
    overflow: hidden;
    transition: 0.4s;
}

.gallery-link:hover .gallery-food-name {
    width: 100%;
    transition: 0.4s;
}

.gallery-food-description {
    width: 60%;
    position: absolute;
    left: 3rem;
    bottom: 4rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--main-color1);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.gallery-link:hover .gallery-food-description {
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
}

.footer {
    width: 100%;
    height: 30vh;
    background-color: var(--main-color4);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 0;
    position: relative;
}

.footer-text-heading {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    color: var(--main-color2);
}

.footer-text-paragraph {
    font-size: 1.2rem;
    color: #888;
}

.footer-signup-form {
    display: flex;
    align-items: center;
}

.footer-signup-form-input {
    width: 35rem;
    height: 5rem;
    padding: 1rem;
    border: 0.2rem solid var(--main-color2);
    font-size: 1.2rem;
    font-weight: 700;
}

.footer-signup-form-input::placeholder {
    color: var(--main-color2);
}

.footer-signup-form-btn {
    position: relative;
    left: -4.5rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
    background-color: #333;
    color: var(--main-color2);
    border: none;
    cursor: pointer;
}

.footer-signup-form-btn:hover {
    color: #333;
    background-color: var(--main-color2);
}

.copyright {
    font-size: 1.2rem;
    position: absolute;
    bottom: 3rem;
    color: var(--main-color1);
    width: 100%;
    border-top: .1rem solid #888;
    padding-top: 2rem;
    text-transform: capitalize;
    text-align: center;
}