@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

html {
    font-size: 62.5%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-heading {
    font-size: 12rem;
    font-weight: 800;
    text-shadow: 0.2rem 0.2rem 0.2rem rgb(0, 0, 0);
    color: #eee;
    text-align: center;
    text-transform: uppercase;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-1 {
    background-color: #333;
}

.section-1-icons {
    position: relative;
}

.section-1-icons i {
    font-size: 30rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #000;
    color: #c7b938;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
}

.section-1-icons .active {
    transform: translate(-50%, -50%) scale(1);
}

.section-2 {
    background-color: #222;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 30rem;
    background-color: #c7b938;
    margin: 0 2rem;
    padding: 4rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1rem 1rem 1rem #000;
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);
}

.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
    transition: 0.3s;
}

.card::before {
    content: '';
    height: 100%;
    width: 0.4rem;
    background-color: #958a28;
    position: absolute;
    top: 0;
    left: -0.4rem;
    transform: skewY(45deg);
    transform-origin: right;
}

.card::after {
    content: '';
    height: 0.4rem;
    width: 100%;
    background-color: #817823;
    position: absolute;
    top: -0.4rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
}

.icon {
    width: 100%;
}

.card-name {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #111;
    margin: 2rem 0;
    text-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.card-btn {
    width: 70%;
    background-color: #111;
    color: #eee;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    border: none;
    padding: 0.2rem 0;
    cursor: pointer;
    box-shadow: -0.2rem -0.2rem 0.2rem #000;
}

.section-3 {
    background-color: #333;
    padding: 5rem 0;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    margin-left: 3rem;
}

.gallery-link {
    width: calc(33.3%);
    position: relative;
    margin-bottom: 4rem;
}

.gallery-link::before {
    content: '';
    position: absolute;
    top: 13.8rem;
    left: 2rem;
    width: 0.1rem;
    height: 0;
    background-color: #eee;
    z-index: 555;
    transition: 0.4s;
}

.gallery-link::after {
    content: '';
    position: absolute;
    top: 14.4rem;
    left: 1.4rem;
    width: 0;
    height: 0.1rem;
    background-color: #eee;
    z-index: 555;
    transition: 0.4s;
}

.gallery-link:hover::before {
    height: 25%;
}

.gallery-link:hover::after {
    width: 25%;
}

.gallery-food-img {
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    filter: grayscale(100%);
    box-shadow: 0.6rem 0.6rem 0.6rem #000;
    transition: 0.5s;
}

.gallery-food-img:hover {
    filter: grayscale(0%);
    opacity: 0.5;
    transform: scale(1.1);
}

.gallery-food-name {
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: #c7b938;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.gallery-link:hover .gallery-food-name {
    width: 100%;
    transition: 0.5s;
}

.gallery-food-description {
    width: 60%;
    position: absolute;
    left: 3rem;
    bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: #eee;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.gallery-link:hover .gallery-food-description {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.footer {
    width: 100%;
    height: 30vh;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 0;
    position: relative;
}

.footer-text-heading {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 900;
    color: #c7b938;
}

.footer-text-paragraph {
    font-size: 1.2rem;
    color: #888;
}

.footer-signup-form {
    display: flex;
    align-items: center;
}

.footer-signup-form-input {
    width: 35rem;
    height: 5rem;
    padding: 1rem;
    border: 0.2rem solid #c7b938;
    font-size: 1.2rem;
    font-weight: 700;
}

.footer-signup-form-input::placeholder {
    color: #c7b938;
}

.footer-signup-form-btn {
    position: relative;
    left: -4.5rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
    background-color: #333;
    color: #c7b938;
    border: none;
    cursor: pointer;
}

.copyright {
    font-size: 1.2rem;
    position: absolute;
    bottom: 3rem;
    color: #eee;
    width: 100%;
    border-top: .1rem solid #888;
    padding-top: 2rem;
    text-transform: capitalize;
    text-align: center;
}